
	<div class="row">
		<h1>  Claim Statement: {{vm.claim.claimStatement}}</h1>
		<span ng-if="vm.claim.arguments.length === 0 && !vm.claim.usedAsPremise" class="btn delete-icon" ng-click="vm.deleteClaim()">
          	<span class="glyphicon glyphicon-trash"></span> Delete 
       	</span>
		<p class="stinky">Owner: {{vm.claim.originalOwnerUsername}}</p>	
		
		<div class="btn-group">
			<span>
				<button class="category-button" ng-click="vm.activateCategoryButton('Arguments');vm.changeTab('arguments', 'argumentsTab')">Arguments</button>
				<button class="category-button" ng-click="vm.activateCategoryButton('Claim Info');vm.changeTab('claimInfo', 'claimInfoTab')">Claim Info</button>
				<button class="category-button" ng-click="vm.activateCategoryButton('Opposite Claims');vm.changeTab('oppositeClaims', 'oppositeClaimsTab')">Opposite Claims</button>
				<button class="category-button" ng-click="vm.activateCategoryButton('Media Resources');vm.changeTab('mediaResources', 'mediaResourcesTab')">Media Resources</button>
				<button class="category-button" ng-click="vm.activateCategoryButton('Your Updates');vm.changeTab('yourUpdates', 'yourUpdatesTab')">Your Updates</button>
			</span>
		</div>
		<hr class="claims-window-bar">
		<div class="tab-container"><!--  container -->
		<div class="tab-content"><!-- tabs -->
		<!-- <div id="arguments" class="tab-pane fade in active"> -->
		<div id="arguments" class="tab-pane" style="display: block">
			<div ng-include="'claim/tabs/argumentsTab.html'"></div>
		</div>
		<div id="claimInfo" class="tab-pane" style="display: block">
			<div ng-include="'claim/tabs/claimInfo.html'"></div>
		</div>
		<div id="oppositeClaims" class="tab-pane">
			<div ng-include="'claim/tabs/oppositeClaimsTab.html'"></div>
		</div>
		<div id="mediaResources" class="tab-pane">
			<div ng-include="'claim/tabs/mediaResourcesTab.html'"></div>
		</div>
		<div id="yourUpdates" class="tab-pane">
			<div ng-include="'claim/tabs/pendingArgumentsTab.html'"></div>
		</div>
		
		</div><!-- tabs -->
		</div><!--  container -->
		<!--  NEED TO MOVE THE BELOW DIALOG TO ITS OWN FILE!! -->
		<div id="theCreateNewMediaResourceDialog" class="dialog">
  				<div class="dialog-content">
  					<span class="close" ng-click="vm.closeDialog('theCreateNewMediaResourceDialog', false)">&times;</span>
  					<p>Claim Statement: {{vm.claim.claimStatement}}</p>
  					URL:<textarea ng-model="vm.newMediaResource.url" rows="1" cols="75"></textarea>
  					<br>
  					<a ng-click="vm.addNewMediaResource()">Add New Media Resource</a>
  				</div>
  			</div>
  			
  			<!--  dialog html files -->
		<div ng-include="'claim/dialogs/createClaimDialog.html'"></div>
		<div ng-include="'claim/dialogs/editArgumentDialog.html'"></div>
		<div ng-include="'claim/dialogs/createNewArgumentDialog.html'"></div>
		<div ng-include="'claim/dialogs/createEditArgumentDialog.html'"></div>
		<div ng-include="'claim/dialogs/addMpoDialog.html'"></div>
		<div ng-include="'claim/dialogs/oppoClaimDialog.html'"></div>
		<div ng-include="'claim/dialogs/addPremiseDialog.html'"></div>
		<div ng-include="'claim/dialogs/addMissedPremiseDialog.html'"></div>
		<div ng-include="'claim/dialogs/addNewMissedPremiseDialog.html'"></div>

	</div>
