<!DOCTYPE html>
<!-- 	<div ng-repeat = "argument in vm.claim.arguments track by $index">
		<div ng-if="argument.ownerId === vm.user.userId && vm.getCurrentStatusId(argument) === 1" argument-section claim-statement="vm.claim.claimStatement" argument="argument" index="$index"></div>
	</div> -->
	<br><br><br>
	<div ng-repeat = "argument in vm.claim.arguments track by $index">
		<div class="argSection panel panel-primary panel-center" ng-if="argument.ownerId === vm.user.userId && vm.getCurrentStatusId(argument) === 1">
			<div  class="panel-heading">
       			<table>
       				<tr>
       					<td class="argNameCol">{{argument.argName}}</td>
       					<td>			       			
       						<span class="btn" ng-if="true" ng-click="" data-toggle="collapse" data-target="{{'#collapse' + $index}}" aria-expanded="false" aria-controls="collapse + {{$index}}">
   									<span class="glyphicon glyphicon-plus"></span> View
   							</span>
						</td>
						<td>
							<span class="btn" ng-if="vm.claim.arguments[$index].ownerId === vm.user.userId && vm.getCurrentStatusId(vm.claim.arguments[$index]) === 1" ng-click="vm.publishArg($index, 2) ; $event.stopPropagation()">
								<span class="glyphicon glyphicon-send"></span> Publish
							</span>
						</td>
						<td>
							<span class="btn" ng-if="vm.claim.arguments[$index].ownerId === vm.user.userId" ng-click="vm.openDialog('theEditArgumentDialog', $index) ; $event.stopPropagation()">
   								<span class="glyphicon glyphicon-edit"></span> Edit
 							</span>
						</td>
						<td>
							<span ng-if="vm.claim.arguments[$index].ownerId === vm.user.userId" class="btn delete-icon" ng-click="vm.deleteArgument($index) ; event.stopPropagation()">
   								<span class="glyphicon glyphicon-trash"></span> Delete 
					 		</span>
						</td>
       				</tr>
       			</table>
      				
   			</div>
	   			<div class="container collapse panel-body-container" id="{{'collapse' + $index}}">
	   			<div class = "panel-body" >
					<div ng-repeat="premise in argument.premises track by $index">
						Premise {{$index+1}}:
						<a ng-class="btn" style="color:black; font-size:12px" ng-click="vm.openClaim(premise.claimId)">{{premise.claimStatement}}</a>
						<br>
					</div>
					<br>
					Conclusion: {{vm.claim.claimStatement}}
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>