<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="css/custom.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://www.w3schools.com/lib/w3data.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
</head>
<body>
	<div w3-include-html="headerNav.html"></div> 
	<div ng-app="ClaimModule" ng-controller="ClaimCtrl">
		<div class=row>
			<h1>  Claim Statement: {{claim.claimStatement}}</h1>
			<h1 class="score">Score: {{score}}</h1>
			<span ng-if="claim.arguments.length === 0 && !claim.usedAsPremise" class="btn delete-icon" ng-click="deleteClaim()">
	          	<span class="glyphicon glyphicon-trash"></span> Delete 
	       	</span>
			<p>Owner: {{claim.originalOwnerUsername}}</p>
			<ul class="nav nav-pills">
				<li class="active"><a data-toggle="pill" href="#arguments">Arguments</a></li>
				<li><a data-toggle="pill" href="#mediaResources">Media Resources</a></li>
			</ul>
			<div><!--  container -->
			<div class="tab-content"><!-- tabs -->
			<div id="arguments" class="tab-pane fade in active">
			<div class="col-sm-6">
				<div id="top-claims-window">
					<div id="top-claims-header">
						Arguments
					</div>
	  				<div id="scrollable-content">
			  			<table class="table table-inverse">
							<tr ng-repeat="argument in claim.arguments track by $index">
								<td class="claimRow" ng-click="changeArgViewing($index)"
								ng-if="getCurrentStatusId(argument) === 2">Argument {{$index+1}} - {{argument.argName}}</td>
							</tr>
						</table>
			 	   </div>
					<div id="top-claims-footer">
						Total arguments: {{claim.arguments.length}}
						<button type="button" class="btn btn-default btn-sm add-arg-button" ng-click="openDialog('theCreateNewArgumentDialog')">
							<span class="glyphicon glyphicon-plus "></span> Add Argument
						</button>
					</div>
				</div>
				<div id="top-claims-window">
					<div id="top-claims-header">
						Your Pending Arguments for this Claim
					</div>
	  				<div id="scrollable-content">
			  			<table class="table table-inverse">
							<tr ng-repeat="argument in claim.arguments track by $index">
								<td class="claimRow" ng-click="changeArgViewing($index)" 
								ng-if="argument.ownerId === user.userId && getCurrentStatusId(argument) === 1">{{argument.argName}}</td>
							</tr>
						</table>
			 	   </div>
					<div id="top-claims-footer">
						Total arguments: {{claim.arguments.length}}
						<button type="button" class="btn btn-default btn-sm add-arg-button" ng-click="openDialog('theCreateNewArgumentDialog')">
							<span class="glyphicon glyphicon-plus "></span> Add Argument
						</button>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div ng-if="claim.arguments.length > 0 && argumentViewingIndex !== undefined && argumentViewingIndex !== null && argumentViewingIndex > -1">
					<div class="argSection panel panel-primary panel-center">
						<div  class="panel-heading">
	      					<h3 class = "panel-title">Argument {{argumentViewingIndex+1}} - {{claim.arguments[argumentViewingIndex].argName}}</h3>
	      					<span class="btn" ng-if="claim.arguments[argumentViewingIndex].ownerId === user.userId && getCurrentStatusId(claim.arguments[argumentViewingIndex]) === 1" ng-click="publishArg(argumentViewingIndex, 2) ; $event.stopPropagation()">
	      						<span class="glyphicon glyphicon-plus"></span> Publish
	      					</span>
	      					<span class="btn" ng-if="claim.arguments[argumentViewingIndex].ownerId === user.userId" ng-click="openDialog('theEditArgumentDialog', argumentViewingIndex) ; $event.stopPropagation()">
	          					<span class="glyphicon glyphicon-edit"></span> Edit
	        				</span>
	        				<span ng-if="claim.arguments[argumentViewingIndex].ownerId === user.userId" class="btn delete-icon" ng-click="deleteArgument(argumentViewingIndex) ; event.stopPropagation()">
	          					<span class="glyphicon glyphicon-trash"></span> Delete 
	       					 </span>
			   				<!-- CHANGE saveStatement() above to saveArgument(index) (and create that method) -->
			   			</div>
			   			<div class="container" id="{{$index}}">
				   			<div class = "panel-body" >
							<!-- <textarea ng-if="argument.editable" rows="1" cols="50"  type=text ng-model="argument.argName"></textarea> -->
								<div ng-repeat="premise in claim.arguments[argumentViewingIndex].premises track by $index">
									Premise {{$index+1}}:
									<a ng-class="btn" style="color:black; font-size:12px" ng-click="openClaim(premise.claimId)">{{premise.claimStatement}}</a>
									<br>
								</div>
								<br>
								Conclusion: {{claim.claimStatement}}	
								<br>
								<div class="row">
									<div class="col-sm-6">
										<div id="top-claims-window">
											<div id="top-claims-header">
												Objections - missed premises
											</div>
							  				<div id="scrollable-content">
									  			<table class="table table-inverse">
													<tr ng-repeat="missedPremiseObjection in claim.arguments[argumentViewingIndex].missedPremises track by $index">
														<td class="claimRow" ng-click="">Missing Premise Objection # {{$index+1}} - {{missedPremiseObjection.name}}</td>
													</tr>
												</table>
									 	   </div>
											<div id="top-claims-footer">
												Total Missed Premise Objections: {{claim.arguments[argumentViewingIndex].missedPremises.length}}
												<button type="button" class="btn btn-default btn-sm add-arg-button" ng-click="openDialog('theAddMissedPremiseGroupDialog')">
													<span class="glyphicon glyphicon-plus "></span> Add Missed Premise Objection
												</button>
											</div>
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-6">
										<div class="argSection panel panel-primary panel-center">
											<div class="panel-heading">Argument Details</div>
											<div class="panel-body">
												<p ng-if="!argument.editable">owner: {{claim.arguments[argumentViewingIndex].ownerUsername}}</p>
												<p>Valid:<span ng-if="claim.arguments[argumentViewingIndex].valid">Yes</span><span ng-if="!claim.arguments[argumentViewingIndex].valid">No<span></p>
												<p>Sound:<span ng-if="claim.arguments[argumentViewingIndex].sound">Yes</span><span ng-if="!claim.arguments[argumentViewingIndex].sound">No</span></p>
												<p>Valid votes:{{claim.arguments[argumentViewingIndex].validCount}}  Invalid votes:{{claim.arguments[argumentViewingIndex].invalidCount}}</p>
												<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:black">Vote <span class="caret"></span></a>
	          									
	          									<ul class="dropdown-menu">
									            	<li><a href="#" ng-click="voteValidity(argumentViewingIndex, true)">Valid</a></li>
									            	<li><a href="#" ng-click="voteValidity(argumentViewingIndex, false)">Invalid</a></li>
									            </ul>
									            </li>
									            <br>
									            <li class="dropdown">
									            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:black">Mark fallacy <span class="caret"></span></a>
	          									<ul class="dropdown-menu">
									            	<li><a href="#" ng-click="voteFallacy('adHomniem', argumentViewingIndex)">Ad Homniem</a></li>
									            	<li><a href="#" ng-click="voteFallacy('ignorantum', argumentViewingIndex)">Ignorantum</a></li>
									            	<li><a href="#" ng-click="voteFallacy('adPopulum', argumentViewingIndex)">Ad Populum</a></li>
									            	<li><a href="#" ng-click="voteFallacy('argFromAuthority', argumentViewingIndex)">Argument from Authority</a></li>
									            	<li><a href="#" ng-click="voteFallacy('generalization', argumentViewingIndex)">Generalization</a></li>
									            	<li><a href="#" ng-click="voteFallacy('slipperySlope', argumentViewingIndex)">Slippery Slope</a></li>
									            	<li><a href="#" ng-click="voteFallacy('strawman', argumentViewingIndex)">Strawman</a></li>
									            	<li><a href="#" ng-click="voteFallacy('redHerring', argumentViewingIndex)">Red Herring</a></li>
									            	<li><a href="#" ng-click="voteFallacy('falseDichotomy', argumentViewingIndex)">False Dichotomy</a></li>
									            	<li><a href="#" ng-click="voteFallacy('circularReasoning', argumentViewingIndex)">Circular Reasoning</a></li>
									            </ul>
									            </li>
									            	<p ng-if="claim.arguments[argumentViewingIndex].fallacyDetails.adHomniemUpvotes > 0">Ad Homniem Upvotes: {{claim.arguments[argumentViewingIndex].fallacyDetails.adHomniemUpvotes}}</p>
									            	<p ng-if="claim.arguments[argumentViewingIndex].fallacyDetails.ignorantumUpvotes > 0">Ignorantum Upvotes: {{claim.arguments[argumentViewingIndex].fallacyDetails.ignorantumUpvotes}}</p>
									            	<p ng-if="claim.arguments[argumentViewingIndex].fallacyDetails.adPopulumUpvotes > 0">Ad Populum Upvotes: {{claim.arguments[argumentViewingIndex].fallacyDetails.adPopulumUpvotes}}</p>
									            	<p ng-if="claim.arguments[argumentViewingIndex].fallacyDetails.argFromAuthorityUpvotes > 0">Argument from Authority Upvotes: {{claim.arguments[argumentViewingIndex].fallacyDetails.argFromAuthorityUpvotes}}</p>
									            	<p ng-if="claim.arguments[argumentViewingIndex].fallacyDetails.generalizationUpvotes > 0">Generalization Upvotes: {{claim.arguments[argumentViewingIndex].fallacyDetails.generalizationUpvotes}}</p>
									            	<p ng-if="claim.arguments[argumentViewingIndex].fallacyDetails.slipperySlopeUpvotes > 0">Slippery Slope Upvotes: {{claim.arguments[argumentViewingIndex].fallacyDetails.slipperySlopeUpvotes}}</p>
									            	<p ng-if="claim.arguments[argumentViewingIndex].fallacyDetails.strawmanUpvotes > 0">Strawman Upvotes: {{claim.arguments[argumentViewingIndex].fallacyDetails.strawmanUpvotes}}</p>
									            	<p ng-if="claim.arguments[argumentViewingIndex].fallacyDetails.redHerringUpvotes > 0">Red Herring Upvotes: {{claim.arguments[argumentViewingIndex].fallacyDetails.redHerringUpvotes}}</p>
									            	<p ng-if="claim.arguments[argumentViewingIndex].fallacyDetails.falseDichotomyUpvotes > 0">False Dichotomy Upvotes: {{claim.arguments[argumentViewingIndex].fallacyDetails.falseDichotomyUpvotes}}</p>
									            	<p ng-if="claim.arguments[argumentViewingIndex].fallacyDetails.circularReasoningUpvotes > 0">Circular Reasoning Upvotes: {{claim.arguments[argumentViewingIndex].fallacyDetails.circularReasoningUpvotes}}</p> 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class = "panel panel-primary panel-center">
			   		<div class = "panel-body">
						Claim Statement:
						<p ng-if="!editMode">{{claim.claimStatement}}</p>
						<br>
						<textarea ng-if="editMode" rows="2" cols="75" type="text" ng-model="claim.claimStatement"></textarea>
						<p ng-if="!editMode">Owner: {{claim.originalOwnerUsername}}</p>
						<div>
							<div class = "oppoSection panel panel-primary panel-center">
		  						<div class="panel-heading">
		     						<h3 class = "panel-title">Opposite/Contradicting Claims</h3>
		     						
		  						</div>
			 					 <div class="container">
					   				<div class = "panel-body">
					   					<p ng-if="claim.oppositeClaims.length == 0">No opposite claims. </p>
					   					<button ng-click="openDialog('theOppoClaimDialog')">Link Opposite Claim</button>
					   					<span ng-repeat="oppo in claim.oppositeClaims track by $index">
					   						<br>
					   						<a ng-click="openClaim(claim.oppositeClaims[$index].claimId)" >{{claim.oppositeClaims[$index].claimStatement}}</a>
					   					</span>
					   				</div>
			   					</div>
			   				</div>
						</div>
						<div>
							<span ng-repeat="keyword in claim.keywords track by $index">
								<button type="button" class="btn keywordText" ng-if="!editMode">{{keyword}}&nbsp<span ng-click="deleteKeyword($index)" class="badge deleteKeywordBadge">X</span></button>
								<textarea ng-if="editMode" rows="1" cols="20" type="text" ng-model="claim.keywords[$index]"></textarea>
							</span>
						</div>{{claim.keywords.length}}
						<a ng-if="editMode" class="btn" ng-click="addKeyword()">Add Keyword</a>
						<a class="btn" ng-click="openDialog('theEditArgumentDialog')">Add Argument</a>
						<br>
						<a ng-if="editMode" class="btn" ng-click="saveStatement()">Save</a>
						<br>
						<!--  Eventually the below div section needs to go in a separate html file -->
						<div id="theCreateClaimDialog" class="dialog">
							<div class="dialog-content">
			   					<span class="close" ng-click="closeDialog('theCreateClaimDialog',true)">&times;</span>
			   					<br>
			   					<textarea rows="2" cols="75" type="text" ng-model="claim.claimStatement"></textarea>
			   					<br>
			   					<button ng-click="saveStatement()">Save</button>
			   					<button ng-click="closeDialog('theCreateClaimDialog', true)">Close</button>
			   				</div>
						</div>
						<!--  Eventually the below div section needs to go in a separate html file -->
						<div id="theEditArgumentDialog" class="dialog">
							<div class="dialog-content">
			   					<span class="close" ng-click="closeDialog('theEditArgumentDialog', false)">&times;</span>
					   			<div class="argSection panel panel-primary panel-center">
									<div data-toggle="collapse" data-target="#{{$index}}" class="panel-heading">
				      					<h3 class = "panel-title">Argument {{$index+1}} - {{claim.arguments[currentArgIndex].argName}}</h3>
				      					<span class="btn" ng-if="!claim.arguments[currentArgIndex].editable && claim.arguments[currentArgIndex].ownerId === user.userId" ng-click="setArgumentEditMode($index, true) ; $event.stopPropagation()">
				          					<span class="glyphicon glyphicon-edit"></span> Edit
				        				</span>
						   				<a class="btn" ng-if="claim.arguments[currentArgIndex].editable" ng-click="setArgumentEditMode($index, false) ; saveStatement() ; $event.stopPropagation()" style="color: black">Save</a>
						   				<a class="btn" ng-if="claim.arguments[currentArgIndex].editable" ng-click="setArgumentEditMode($index, false) ; getClaim(claim.claimId) ; $event.stopPropagation()" style="color: black">Cancel</a>
						   				<!-- CHANGE saveStatement() above to saveArgument(index) (and create that method) -->
						   			</div>
						   			<div class="container" id="{{$index}}">
							   			<div class = "panel-body" >
											{{argument.editable}}Argument name:
											<textarea rows="1" cols="50"  type=text ng-model="claim.arguments[currentArgIndex].argName"></textarea><br>
											<div ng-repeat="premise in claim.arguments[currentArgIndex].premises track by $index">
												Premise {{$index+1}}:<br>
												<textarea  ng-disabled="premise.claimId != null" rows="2" cols="75" type=text ng-model="premise.claimStatement"></textarea><br>
											</div>
											<a class="btn" ng-click="addToCurrentArgPremiseArray($index)">Add New Premise</a><br>
											<a class="btn" ng-click="openDialog('theAddPremiseDialog')">Add Pre-existing Premise</a><br>
											Conclusion: 
											<p>{{claim.claimStatement}}</p>
											<br>
										</div>
									</div>
								</div>
			   					<div>{{editMode}}</div>
			   					<button ng-click="saveStatement()">Save</button>
			   					<button ng-click="closeDialog('theEditArgumentDialog', false)">Close</button>
			   				</div>
						</div>
						
						<!--  Eventually the below div section needs to go in a separate html file -->
						<div id="theCreateNewArgumentDialog" class="dialog">
							<div class="dialog-content">
			   					<span class="close" ng-click="closeDialog('theCreateNewArgumentDialog', false)">&times;</span>
					   			<div class="argSection panel panel-primary panel-center">
									<div data-toggle="collapse" data-target="#{{$index}}" class="panel-heading">
				      					<h3 class = "panel-title">Argument {{$index+1}} - {{newArg.argName}}</h3>
				      					<span class="btn" ng-if="!claim.arguments[currentArgIndex].editable && claim.arguments[currentArgIndex].ownerId === user.userId" ng-click="setArgumentEditMode($index, true) ; $event.stopPropagation()">
				          					<span class="glyphicon glyphicon-edit"></span> Edit
				        				</span>
						   				<a class="btn" ng-if="claim.arguments[currentArgIndex].editable" ng-click="setArgumentEditMode($index, false) ; saveStatement() ; $event.stopPropagation()" style="color: black">Save</a>
						   				<a class="btn" ng-if="claim.arguments[currentArgIndex].editable" ng-click="setArgumentEditMode($index, false) ; getClaim(claim.claimId) ; $event.stopPropagation()" style="color: black">Cancel</a>
						   				<!-- CHANGE saveStatement() above to saveArgument(index) (and create that method) -->
						   			</div>
						   			<div class="container" id="{{$index}}">
							   			<div class = "panel-body" >
											{{argument.editable}}Argument name:
											<textarea rows="1" cols="50"  type=text ng-model="newArg.argName"></textarea><br>
											<div ng-repeat="premise in newArg.premises track by $index">
												Premise {{$index+1}}:<br>
												<textarea  ng-disabled="premise.claimId != null" rows="2" cols="75" type=text ng-model="premise.claimStatement"></textarea><br>
											</div>
											<a class="btn" ng-click="addToNewArgPremiseArray($index)">Add New Premise</a><br>
											<a class="btn" ng-click="openDialog('theAddPremiseDialog')">Add Pre-existing Premise</a><br>
											Conclusion: 
											<p>{{claim.claimStatement}}</p>
											<br>
										</div>
									</div>
								</div>
			   					<div>{{editMode}}</div>
			   					<button ng-click="addAndSaveNewArgument()">Save</button>
			   					<button ng-click="closeDialog('theCreateNewArgumentDialog', false)">Close</button>
			   				</div>
						</div>
						
						
						
						<!--  Eventually the below div section needs to go in a separate html file -->
			   			<div id="theOppoClaimDialog" class="dialog">
			   				<div class="dialog-content">
			   					<span class="close" ng-click="closeDialog('theOppoClaimDialog', false)">&times;</span>
			   					<p>Claim Statement: {{claim.claimStatement}}</p>
			   					Search for claims to mark as opposite:
			   					<input ng-model="searchString" type="text" class="search-text" />
			   					 <button ng-click="searchOppositeClaims()" class="btn btn-default">Search</button>
			   					 <br>
			   					 <span ng-repeat="oppositeClaim in oppositeClaimSearchResults">
			   					 	{{oppositeClaim.claimStatement}}
			   					 	<a ng-click="setOppositeClaim(claim.claimId, oppositeClaim.claimId)">Set as opposite claim</a>
			   					 	<br>
			   					</span>
			   				</div>
			   			</div>
			   			
			   			<!--  Eventually the below div section needs to go in a separate html file -->
			   			<div id="theAddPremiseDialog" class="dialog">
			   				<div class="dialog-content">
			   					<span class="close" ng-click="closeDialog('theAddPremiseDialog', false)">&times;</span>
			   					<p>Claim Statement: {{claim.claimStatement}}</p>
			   					Search for premises:
			   					<input ng-model="searchString" type="text" class="search-text" />
			   					 <button ng-click="searchPremises()" class="btn btn-default">Search</button>
			   					 <br>
			   					 <span ng-repeat="searchedPremises in premiseSearchResults track by $index">
			   					 	{{$index}} - {{searchedPremises.claimStatement}}
			   					 	<a ng-click="addPremiseToClaim($index)">Select Premise</a>
			   					 	<br>
			   					</span>
			   				</div>
			   			</div>
					</div>
			  	</div>
			</div>
			</div>
			<div id="mediaResources" class="tab-pane fade">
				Media Resources tab - media resources in which the claim is made.
				<div class="col-sm-6">
					<div id="top-claims-window">
						<div id="top-claims-header">
							Media Resources
						</div>
		  				<div id="scrollable-content">
				  			<table class="table table-inverse">
								<tr ng-repeat="mediaResource in claim.mediaResources track by $index">
									<td class="claimRow" ng-click="changeMediaResourceViewing($index)"
									ng-if="getCurrentStatusId(argument) === 2">Argument {{$index+1}} - {{argument.argName}}</td>
								</tr>
							</table>
				 	   </div>
						<div id="top-claims-footer">
							Total Media Resources: {{claim.mediaResources.length}}
							<button type="button" class="btn btn-default btn-sm add-arg-button" ng-click="openDialog('theCreateNewMediaResourceDialog')">
								<span class="glyphicon glyphicon-plus "></span> Add Media Resource
							</button>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					Col 2
				</div>
			</div>
			<div id="theCreateNewMediaResourceDialog" class="dialog">
   				<div class="dialog-content">
   					<span class="close" ng-click="closeDialog('theCreateNewMediaResourceDialog', false)">&times;</span>
   					<p>Claim Statement: {{claim.claimStatement}}</p>
   					URL:<textarea ng-model="newMediaResource.url" rows="1" cols="75"></textarea>
   					<br>
   					<a ng-click="addNewMediaResource()">Add New Media Resource</a>
   				</div>
   			</div>
   			
   			<div id="theAddMissedPremiseGroupDialog" class="dialog">
   				<div class="dialog-content">
   					<span class="close" ng-click="closeDialog('theAddMissedPremiseGroupDialog', false)">&times;</span>
		   			<div class="argSection panel panel-primary panel-center">
						<div data-toggle="collapse" data-target="#{{$index}}" class="panel-heading">
	      					<h3 class = "panel-title">Argument {{argumentViewingIndex}} - {{claim.arguments[argumentViewingIndex].argName}}</h3>
	      					<span class="btn" ng-if="!claim.arguments[currentArgIndex].editable && claim.arguments[currentArgIndex].ownerId === user.userId" ng-click="setArgumentEditMode($index, true) ; $event.stopPropagation()">
	          					<span class="glyphicon glyphicon-edit"></span> Edit
	        				</span>
			   				<a class="btn" ng-if="claim.arguments[currentArgIndex].editable" ng-click="setArgumentEditMode($index, false) ; saveStatement() ; $event.stopPropagation()" style="color: black">Save</a>
			   				<a class="btn" ng-if="claim.arguments[currentArgIndex].editable" ng-click="setArgumentEditMode($index, false) ; getClaim(claim.claimId) ; $event.stopPropagation()" style="color: black">Cancel</a>
			   				<!-- CHANGE saveStatement() above to saveArgument(index) (and create that method) -->
			   			</div>
			   			<div class="container" id="{{$index}}">
				   			<div class = "panel-body" >
								{{argument.editable}}Argument name: {{claim.arguments[argumentViewingIndex].argName}}
								<div ng-repeat="premise in claim.arguments[argumentViewingIndex].premises track by $index">
									Premise {{$index+1}}:<br>
									<textarea  ng-disabled="premise.claimId != null" rows="2" cols="75" type=text ng-model="premise.claimStatement"></textarea><br>
								</div>
								<a class="btn" ng-click="addToNewArgPremiseArray($index)">Add New Missed Premise</a><br>
								<a class="btn" ng-click="openDialog('theAddPremiseDialog')">Add Missed Premise from Pre-existing Premises</a><br>
								Conclusion: 
								<p>{{claim.claimStatement}}</p>
								<br>
							</div>
						</div>
					</div>
   					<div>{{editMode}}</div>
   					<button ng-click="addAndSaveNewArgument()">Save</button>
   					<button ng-click="closeDialog('theAddMissedPremiseGroupDialog', false)">Close</button>
   				</div>
   			</div>
			</div><!-- tabs -->
			</div><!--  container -->
		</div>
	</div>			
	<script src="claimModule.js"></script>
	<script src="claim.service.js"></script>
	<script src="config.service.js"></script>
	<script src="claim.controller.js"></script> 		
	<script>w3IncludeHTML();</script>
</body>
</html>