<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="css/custom.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://www.w3schools.com/lib/w3data.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
</head>
<body>
<div w3-include-html="headerNav.html"></div> 
<div class=row>
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class = "panel panel-primary panel-center">
   			<div class="panel-heading">
      			<h3 class = "panel-title">Enter Claim Info:</h3>
   			</div>
   
	   		<div class = "panel-body">
	
	
				<div ng-app="ClaimModule" ng-controller="ClaimCtrl">
				
				Claim Statement:
				<p ng-if="!editMode">{{claim.claimStatement}}</p>
				<br><textarea ng-if="editMode" rows="2" cols="75" type="text" ng-model="claim.claimStatement"></textarea>
				
				<p ng-if="!editMode">Owner: {{claim.originalOwnerUsername}}</p>
				
				<div class="argSection panel panel-primary panel-center" ng-repeat="argument in claim.arguments track by $index">
					<div data-toggle="collapse" data-target="#{{$index}}" class="panel-heading">
      					<h3 class = "panel-title">Argument {{$index+1}} - {{argument.argName}}</h3>
      					<a class="btn" ng-if="!argument.editable && argument.ownerId === user.userId" ng-click="setArgumentEditMode($index, true) ; $event.stopPropagation()" style="color: black">Edit</a>
      					<span class="btn" ng-if="!argument.editable && argument.ownerId === user.userId" ng-click="setArgumentEditMode($index, true) ; $event.stopPropagation()">
          					<span class="glyphicon glyphicon-edit"></span> Edit
        				</span>
		   				<a class="btn" ng-if="argument.editable" ng-click="setArgumentEditMode($index, false) ; saveStatement() ; $event.stopPropagation()" style="color: black">Save</a>
		   				<a class="btn" ng-if="argument.editable" ng-click="setArgumentEditMode($index, false) ; getClaim(claim.claimId) ; $event.stopPropagation()" style="color: black">Cancel</a>
		   				<span ng-if="argument.ownerId === user.userId" class="btn delete-icon" ng-click="deleteArgument($index) ; event.stopPropagation()">
          					<span class="glyphicon glyphicon-trash"></span> Delete 
       					 </span>
		   				<!-- CHANGE saveStatement() above to saveArgument(index) (and create that method) -->
		   			</div>
		   			<div class="container" id="{{$index}}">
			   			<div class = "panel-body" >
						Argument name:
						<p ng-if="!argument.editable">{{argument.argName}}</p>
						<textarea ng-if="argument.editable" rows="1" cols="50"  type=text ng-model="argument.argName"></textarea><br>
						<p ng-if="!argument.editable">owner: {{argument.ownerUsername}}</p>
						
						<div ng-repeat="premise in argument.premises track by $index">
							Premise {{$index+1}}:<br>
							<a ng-class="btn" style="color:black; font-size:12px" ng-if="!argument.editable" ng-click="openClaim(premise.claimId)">{{premise.claimStatement}}</a>
							<textarea ng-if="argument.editable" rows="2" cols="75" type=text ng-model="premise.claimStatement"></textarea><br>
						</div>
						<a ng-if="argument.editable" class="btn" ng-click="addToPremiseArray($index)">Add Premise</a><br>
						Conclusion: 
						<p>{{claim.claimStatement}}</p>
						<!-- <textarea rows="1" cols="50" type=text value={{claim.claimStatement}} readonly>{{claim.claimStatement}}</textarea> -->
						
						<br>
						</div>
					</div>
				</div>
				<div>
					<span ng-repeat="keyword in claim.keywords track by $index">
						<button type="button" class="btn keywordText" ng-if="!editMode">{{keyword}}&nbsp<span ng-click="deleteKeyword($index)" class="badge deleteKeywordBadge">X</span></button>
						<textarea ng-if="editMode" rows="1" cols="20" type="text" ng-model="claim.keywords[$index]"></textarea>
					</span>
					<!-- <input type="text" ng-model="keyword" /> -->
				</div>{{claim.keywords.length}}
				<a ng-if="editMode" class="btn" ng-click="addKeyword()">Add Keyword</a>
				<a ng-if="editMode" class="btn" ng-click="addToArgumentArray()">Add Argument</a>
				<br>
				<a ng-if="editMode" class="btn" ng-click="saveStatement()">Save</a>
				<a ng-if="!editMode" class="btn" ng-click="setEditMode()">Edit</a>
				
				<br>
				
				</div>
				
				<script src="claimModule.js"></script>
				<script src="claim.service.js"></script>
				<script src="claim.controller.js"></script> 		
				<script>w3IncludeHTML();</script>
			</div>
   		</div>
	</div>
	<div class="col-sm-3"></div>
</div>


	


</body>
</html>