<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href="css/custom.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://www.w3schools.com/lib/w3data.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
</head>
<body>
	<div w3-include-html="headerNav.html"></div> 
	<div w3-include-html="test.html"></div>
	<div ng-app="ClaimModule" ng-controller="ClaimCtrl as vm">
	

  
  
		<div class="row">
			<h1>  Claim Statement: {{vm.claim.claimStatement}}</h1>
			<span ng-if="vm.claim.arguments.length === 0 && !vm.claim.usedAsPremise" class="btn delete-icon" ng-click="vm.deleteClaim()">
	          	<span class="glyphicon glyphicon-trash"></span> Delete 
	       	</span>
			<p>Owner: {{vm.claim.originalOwnerUsername}}</p>
			
<!-- 			<div ng-repeat = "argument in vm.claim.arguments track by $index">
				<div argument-section name="test" argument="argument" index="{{$index}}"></div>
			</div> -->
			
			
			<ul class="nav nav-tabs">
			    <li class="active"><a data-toggle="tab" href="#arguments">Arguments</a></li>
			   <li><a data-toggle="tab" href="#oppositeClaims" style="back">Opposite Claims</a></li>
			   <li><a data-toggle="tab" href="#mediaResources">Media Resources</a></li>
			   <li><a data-toggle="tab" href="#yourUpdates">Your Updates</a></li>
			</ul>
			<br>
		
  
<!-- 			<ul class="nav nav-pills">
				<li class="active"><a data-toggle="pill" href="#arguments">Arguments</a></li>
				<li><a data-toggle="pill" href="#mediaResources">Media Resources</a></li>
			</ul> -->
			<div><!--  container -->
			<div class="tab-content"><!-- tabs -->
			<div id="arguments" class="tab-pane fade in active">
				<div ng-include="'claim/tabs/argumentsTab.html'"></div>
				<div class="col-sm-6">
					<div id="top-claims-window">
						<div id="top-claims-header">
							Arguments
						</div>
		  				<div id="scrollable-content">
				  			<table class="table table-inverse">
								<tr ng-repeat="argument in vm.claim.arguments track by $index">
									<td class="claimRow" ng-click="vm.changeArgViewing($index)"
									ng-if="vm.getCurrentStatusId(argument) === 2">Argument {{$index+1}} - {{argument.argName}}</td>
								</tr>
							</table>
				 	   </div>
						<div id="top-claims-footer">
							Total arguments: {{vm.claim.arguments.length}}
							<button type="button" class="btn btn-default btn-sm add-arg-button" ng-click="vm.openDialog('theCreateNewArgumentDialog')">
								<span class="glyphicon glyphicon-plus "></span> Add Argument
							</button>
						</div>
					</div>
					<div id="top-claims-window">
						<div id="top-claims-header">
							Your Pending Arguments for this Claim
						</div>
		  				<div id="scrollable-content">
				  			<table class="table table-inverse">
								<tr ng-repeat="argument in vm.claim.arguments track by $index">
									<td class="claimRow" ng-click="vm.changeArgViewing($index)" 
									ng-if="argument.ownerId === vm.user.userId && vm.getCurrentStatusId(argument) === 1">{{argument.argName}}</td>
								</tr>
							</table>
				 	   </div>
						<div id="top-claims-footer">
							Total arguments: {{vm.claim.arguments.length}}
							<button type="button" class="btn btn-default btn-sm add-arg-button" ng-click="vm.openDialog('theCreateNewArgumentDialog')">
								<span class="glyphicon glyphicon-plus "></span> Add Argument
							</button>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div ng-if="vm.claim.arguments.length > 0 && vm.argumentViewingIndex !== undefined && vm.argumentViewingIndex !== null && vm.argumentViewingIndex > -1">
						<div class="argSection panel panel-primary panel-center">
							<div  class="panel-heading">
		      					<h3 class = "panel-title">Argument {{vm.argumentViewingIndex+1}} - {{vm.claim.arguments[vm.argumentViewingIndex].argName}}</h3>
		      					<span class="btn" ng-if="vm.claim.arguments[vm.argumentViewingIndex].ownerId === vm.user.userId && vm.getCurrentStatusId(vm.claim.arguments[vm.argumentViewingIndex]) === 1" ng-click="vm.publishArg(vm.argumentViewingIndex, 2) ; $event.stopPropagation()">
		      						<span class="glyphicon glyphicon-plus"></span> Publish
		      					</span>
		      					<span class="btn" ng-if="vm.claim.arguments[vm.argumentViewingIndex].ownerId === vm.user.userId" ng-click="vm.openDialog('theEditArgumentDialog', vm.argumentViewingIndex) ; $event.stopPropagation()">
		          					<span class="glyphicon glyphicon-edit"></span> Edit
		        				</span>
		        				<span ng-if="vm.claim.arguments[vm.argumentViewingIndex].ownerId === vm.user.userId" class="btn delete-icon" ng-click="vm.deleteArgument(vm.argumentViewingIndex) ; event.stopPropagation()">
		          					<span class="glyphicon glyphicon-trash"></span> Delete 
		       					 </span>
				   				<!-- CHANGE saveStatement() above to saveArgument(index) (and create that method) -->
				   			</div>
				   			<div class="container" id="{{$index}}">
					   			<div class = "panel-body" >
								<!-- <textarea ng-if="argument.editable" rows="1" cols="50"  type=text ng-model="argument.argName"></textarea> -->
									<div ng-repeat="premise in vm.claim.arguments[vm.argumentViewingIndex].premises track by $index">
										Premise {{$index+1}}:
										<a ng-class="btn" style="color:black; font-size:12px" ng-click="vm.openClaim(premise.claimId)">{{premise.claimStatement}}</a>
										<br>
									</div>
									<br>
									Conclusion: {{vm.claim.claimStatement}}	
									<br>
									<div class="row">
										<div class="col-sm-6">
											<div id="top-claims-window">
												<div id="top-claims-header">
													Objections - missed premises
												</div>
								  				<div id="scrollable-content">
										  			<table class="table table-inverse">
														<tr ng-repeat="missedPremiseObjection in vm.claim.arguments[vm.argumentViewingIndex].missedPremiseObjections track by $index">
															<td class="claimRow" ng-click="vm.openDialog('theAddMpoDialog', null, 'viewMpo', $index)">Missing Premise Objection # {{$index+1}} - {{missedPremiseObjection.name}}</td>
														</tr>
													</table>
										 	   </div>
												<div id="top-claims-footer">
													Total Missed Premise Objections: {{vm.claim.arguments[vm.argumentViewingIndex].missedPremiseObjections.length}}
													<button type="button" class="btn btn-default btn-sm add-arg-button" ng-click="vm.openDialog('theAddMpoDialog')">
														<span class="glyphicon glyphicon-plus "></span> Add Missed Premise Objection
													</button>
												</div>
											</div>
										</div>
									</div>
									<br>
								</div>
							</div>
						</div>
					</div>
					<div class = "panel panel-primary panel-center">
				   		<div class = "panel-body">
							Claim Statement:
							<p ng-if="!vm.editMode">{{claim.claimStatement}}</p>
							<br>
							<textarea ng-if="vm.editMode" rows="2" cols="75" type="text" ng-model="vm.claim.claimStatement"></textarea>
							<p ng-if="!vm.editMode">Owner: {{vm.claim.originalOwnerUsername}}</p>
							<div>
								<div class = "oppoSection panel panel-primary panel-center">
			  						<div class="panel-heading">
			     						<h3 class = "panel-title">Opposite/Contradicting Claims</h3>
			     						
			  						</div>
				 					 <div class="container">
						   				<div class = "panel-body">
						   					<p ng-if="vm.claim.oppositeClaims.length == 0">No opposite claims. </p>
						   					<button ng-click="vm.openDialog('theOppoClaimDialog')">Link Opposite Claim</button>
						   					<span ng-repeat="oppo in vm.claim.oppositeClaims track by $index">
						   						<br>
						   						<a ng-click="vm.openClaim(vm.claim.oppositeClaims[$index].claimId)" >{{vm.claim.oppositeClaims[$index].claimStatement}}</a>
						   					</span>
						   				</div>
				   					</div>
				   				</div>
							</div>
							<div>
								<span ng-repeat="keyword in vm.claim.keywords track by $index">
									<button type="button" class="btn keywordText" ng-if="!vm.editMode">{{keyword}}&nbsp<span ng-click="vm.deleteKeyword($index)" class="badge deleteKeywordBadge">X</span></button>
									<textarea ng-if="vm.editMode" rows="1" cols="20" type="text" ng-model="vm.claim.keywords[$index]"></textarea>
								</span>
							</div>{{vm.claim.keywords.length}}
							<a ng-if="vm.editMode" class="btn" ng-click="vm.addKeyword()">Add Keyword</a>
							<a class="btn" ng-click="vm.openDialog('theEditArgumentDialog')">Add Argument</a>
							<br>
							<a ng-if="vm.editMode" class="btn" ng-click="vm.saveStatement()">Save</a>
							<br>
	
	
						</div>
				  	</div>
				</div>
			</div>
			<div id="oppositeClaims" class="tab-pane fade">
				<div ng-include="'claim/tabs/oppositeClaimsTab.html'"></div>
			</div>
			<div id="mediaResources" class="tab-pane fade">
				<div ng-include="'claim/tabs/mediaResourcesTab.html'"></div>
			</div>
 			<div id="yourUpdates" class="tab-pane fade">
				<div ng-include="'claim/tabs/pendingArgumentsTab.html'"></div>
			</div>
			<div id="theCreateNewMediaResourceDialog" class="dialog">
   				<div class="dialog-content">
   					<span class="close" ng-click="vm.closeDialog('theCreateNewMediaResourceDialog', false)">&times;</span>
   					<p>Claim Statement: {{vm.claim.claimStatement}}</p>
   					URL:<textarea ng-model="vm.newMediaResource.url" rows="1" cols="75"></textarea>
   					<br>
   					<a ng-click="vm.addNewMediaResource()">Add New Media Resource</a>
   				</div>
   			</div>
   			
   			<!--  dialog html files -->
			<div ng-include="'claim/dialogs/createClaimDialog.html'"></div>
			<div ng-include="'claim/dialogs/editArgumentDialog.html'"></div>
			<div ng-include="'claim/dialogs/createNewArgumentDialog.html'"></div>
			<div ng-include="'claim/dialogs/addMpoDialog.html'"></div>
			<div ng-include="'claim/dialogs/oppoClaimDialog.html'"></div>
   			<div ng-include="'claim/dialogs/addPremiseDialog.html'"></div>
   			<div ng-include="'claim/dialogs/addMissedPremiseDialog.html'"></div>

			</div><!-- tabs -->
			</div><!--  container -->
		</div>
	</div>			
	<script src="claimModule.js"></script>
	<script src="claim.service.js"></script>
	<script src="config.service.js"></script>
	<script src="claim.controller.js"></script> 
	<script src="claim/directives/argumentSection.js"></script>		
	<script src="testClaimDirective.js"></script>
	<script>w3IncludeHTML();</script>
</body>
</html>