
.add-arg-button{
	float: right;
	margin-top: 20px;
}

.add-arg-button:hover{
	color: green;
}

.flat-button {
	color: white;
	background-color: var(--dark-accent-1-saved);
	border: 0px;	
}

.flat-button:hover {
	background-color: black;
	color: red;
}