

<div>
	 <input ng-model="vm.searchString" type="text" class="search-text" placeholder="Search">
     <button ng-click="vm.searchClaims()" class="btn btn-default flat-button">Search</button>
</div>

<div class=row>
	<div class="col-sm-9">
	
	<div id="top-claims-window">

	<div id="top-claims-header">
		&nbsp;Filter Claims by Category:&nbsp;
		<div class="btn-group">
			<span ng-repeat="category in vm.categoryOptions">
				<button class="category-button" ng-click="vm.activateCategoryButton(category.description);vm.loadClaimsForCategory(category.id)">{{category.description}}</button>
			</span>
		</div>

	</div>
	<hr class="claims-window-bar">

  <div id="scrollable-content">
  
	  <table class="table table-inverse">

	  	<tr ng-repeat="claim in vm.topClaims">
	  		<td class="claimRow" ng-click="vm.openClaim(claim.claimId)">{{claim.claimStatement}}</td>
	  	</tr>
	  </table>
		
		  </div>

  <div id="top-claims-footer">
  Total claims: {{vm.topClaims.length}}
  </div>

</div>
		
	</div>
	<div class="col-sm-3">
			<div class = "panel panel-primary panel-right">
   			<div class = "panel-heading">
     			 <h3 class = "panel-title">Admin Dashboard</h3>
   			</div>
   
  			<div class = "panel-body">
  				<li ng-if="vm.user.username.length > 0" style="list-style:none" class="profileDropdown dropdown">
          			<a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, {{vm.user.username}} <span class="caret"></span></a>
          			<ul class="dropdown-menu">
            			<li><a ng-click="vm.logout()">Log out</a></li>
            			<li><a href="#">Profile Settings</a></li>
          			</ul>
        		</li>
				<a ng-if="vm.user.userId !== null" class="btn search-button" href="/Prototype/#/claim" role="button" >Create a new Claim</a>		
				<a ng-if="vm.user.userId !== null" class="btn search-button" href="/Prototype/mediaResource.html" role="button" >Create a new Media Resource</a>
				<a ng-if="vm.user.userId !== null" class="btn search-button" href="/Prototype/author.html" role="button" >Add a new Author</a>
				<a ng-if="vm.user.userId !== null" class="btn search-button" href="/Prototype/institution.html" role="button" >Add a new Institution</a>
				<a ng-if="vm.user.userId === null" href="/Prototype/#/login">Login</a>
   			</div>
		</div>
		<div class = "panel panel-primary panel-right">
   			<div class = "panel-heading">
      			<h3 class = "panel-title">Trending Topics</h3>
   			</div>
   
   		<div class = "panel-body">
   		</div>
		</div>
	</div>
</div>

<div><a href="/Prototype/testScope.html">Go</a></div>
    