<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="theAddMpoDialog" class="dialog">
		<div class="dialog-content">
			<div class="panel panel-primary panel-center dialog-panel">
				<div data-toggle="collapse" data-target="#{{$index}}" class="panel-heading">
  					<h3 class = "panel-title">Missed Premise Objection Name: 
  						<!--  the below two lines need to be fixed so that there is only one line - when adding a new arg or anything, just add it to end of pre-existing list -->
  						<span ng-if="vm.mpoEditable"><textarea ng-disabled="false" rows="1" cols="50" ng-model="vm.newMpo.name"></textarea><br></span>
						<span ng-if="!vm.mpoEditable"><textarea ng-disabled="true" rows="1" cols="50" ng-model="vm.claim.arguments[vm.argumentViewingIndex].missedPremiseObjections[vm.mpoViewingIndex].name"></textarea><br></span>
					</h3>
  					<span class="btn" ng-if="!vm.claim.arguments[vm.currentArgIndex].editable && vm.claim.arguments[vm.currentArgIndex].ownerId === vm.user.userId" ng-click="vm.setArgumentEditMode($index, true) ; $event.stopPropagation()">
      					<span class="glyphicon glyphicon-edit"></span> Edit
    				</span>
	 				<a class="btn" ng-if="vm.claim.arguments[vm.currentArgIndex].editable" ng-click="vm.setArgumentEditMode($index, false) ; vm.saveStatement() ; $event.stopPropagation()" style="color: black">Save</a>
	 				<a class="btn" ng-if="vm.claim.arguments[vm.currentArgIndex].editable" ng-click="vm.setArgumentEditMode($index, false) ; vm.getClaim(claim.claimId) ; $event.stopPropagation()" style="color: black">Cancel</a>
	 				<!-- CHANGE saveStatement() above to saveArgument(index) (and create that method) -->
	 			</div>
			 	<div class="container" id="{{$index}}">
			  		<div class = "panel-body" >
						{{argument.editable}}Argument name: {{vm.claim.arguments[vm.argumentViewingIndex].argName}}		
						<br><br>
					    
					    <!-- only show this section when creating a new MPO -->
					    <div ui-tree id="tree-root">
		      				<ol ui-tree-nodes ng-model="vm.newMpo.allMpoPremises">
		       					<li ng-repeat="premise in vm.newMpo.allMpoPremises" ui-tree-node>
		          					{{premise.claimStatement}} <span ng-if="premise.canDelete"><a ng-click="vm.removeMissedPremise(premise.deleteTracker)">remove</a></span>
						        </li>
						    </ol>
					    </div>
					    
					    <!-- only show this section for saved and loaded MPO's -->
					    <div ng-if="vm.newMpo === undefined || vm.newMpo === null">
		      				<ol>
		       					<li ng-repeat="premise in vm.claim.arguments[vm.argumentViewingIndex].missedPremiseObjections[vm.mpoViewingIndex].allMpoPremises">
		          					{{premise.claimStatement}}
						        </li>
						    </ol>
					    </div>
					    <br>
					    Conclusion: {{vm.claim.claimStatement}}
					    
          
					</div>
			   		<div>
			   			<p class="error-text" ng-repeat="message in  vm.errorMessages">{{message}}</p>
			   		</div>
				</div>
				<div class="panel-footer">
					<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
						<div class="btn-group" role="group" ng-if="vm.mpoEditable">
					    	<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					     		Add Missed Premise
					    	</button>
					    	<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
					      		<a class="dropdown-item" ng-click="vm.openDialog('theAddNewMissedPremiseDialog')"> New Missed Premise</a>
					      		<a class="dropdown-item" ng-click="vm.openDialog('theAddMissedPremiseDialog')" > Pre-existing Premise</a>
					    	</div>
					  	</div>
					    <button type="button" class="btn btn-secondary" ng-click="vm.addAndSaveNewMpo()">Save</button>
					  	<button type="button" class="btn btn-secondary" ng-click="vm.closeDialog('theAddMpoDialog', false)">Close</button>
					</div>
				</div>
			</div>
		</div>
 	</div>
</body>
</html>