<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="theAddMissedPremiseDialog" class="dialog">
		<div class="dialog-content">
			<span class="close" ng-click="vm.closeDialog('theAddMissedPremiseDialog', false)">&times;</span>
			<p>Claim Statement: {{vm.claim.claimStatement}}</p>
			Search for premises:
			<input ng-model="vm.searchString" type="text" class="search-text" />
			 <button ng-click="vm.searchPremises()" class="btn btn-default">Search</button>
			 <br>
			 <span ng-repeat="searchedPremises in vm.premiseSearchResults track by $index">
			 	{{$index}} - {{searchedPremises.claimStatement}}
			 	<a ng-click="vm.addMissedPremiseToMpo($index)">Select Premise</a>
			 	<br>
			</span>
		</div>
	</div>
</body>
</html>