<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="theAddNewMissedPremiseDialog" class="dialog">
		<div class="dialog-content">
			<div class="panel panel-primary panel-center dialog-panel">
				<div class="panel-heading">Add New Missed Premise</div>
				<div class="container">
			  		<div class = "panel-body" >
						<br>
						<textarea rows="1" cols="75" type="text" ng-model="vm.newMissedPremiseStatement"></textarea>
						<br>
					</div>
				</div>
				<div class="panel-footer">
					<button type="button" class="btn btn-secondary" ng-click="vm.pushNewMissedPremiseToMPO()">Add</button>
					<button type="button" class="btn btn-secondary" ng-click="vm.closeDialog('theAddNewMissedPremiseDialog', false)">Cancel</button>
				</div>
			</div>
 		</div>
	</div>
</body>
</html>