<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="theAddNewMissedPremiseDialog" class="dialog">
		<div class="dialog-content">
			<span class="close" ng-click="vm.closeDialog('theAddNewMissedPremiseDialog', false)">&times;</span>
			<br>
			<textarea rows="1" cols="75" type="text" ng-model="vm.newMissedPremiseStatement"></textarea>
			<br>
			<button ng-click="vm.pushNewMissedPremiseToMPO()">Add</button>
			<button ng-click="vm.closeDialog('theAddNewMissedPremiseDialog', false)">Close</button>
 		</div>
	</div>
</body>
</html>