<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="theAddPremiseDialog" class="dialog">
		<div class="dialog-content">
		
		
		   	<div class="panel panel-primary panel-center dialog-panel">
				<div class="panel-heading">
     				Add a pre-existing premise to your argument
	   			</div>
	   			<div class="container" id="{{$index}}">
		   			<div class = "panel-body" >
						<p>Claim Statement: {{vm.claim.claimStatement}}</p>
						Search for premises:
						<input ng-model="vm.searchString" type="text" class="search-text" />
						 <button ng-click="vm.searchPremises()" class="btn btn-default">Search</button>
						 <br>
						 <span ng-repeat="searchedPremises in vm.premiseSearchResults track by $index">
						 	{{$index}} - {{searchedPremises.claimStatement}}
						 	<a ng-click="vm.addPremiseToClaim($index)">Select Premise</a>
						 	<br>
						</span>
					</div>
				</div>
				<div class="panel-footer">
					<button ng-click="vm.closeDialog('theAddPremiseDialog', false)" class="flat-button">Cancel</button>
				</div>
			</div>
			
			
<!-- 			<span class="close" ng-click="vm.closeDialog('theAddPremiseDialog', false)">&times;</span>
			<p>Claim Statement: {{vm.claim.claimStatement}}</p>
			Search for premises:
			<input ng-model="vm.searchString" type="text" class="search-text" />
			 <button ng-click="vm.searchPremises()" class="btn btn-default">Search</button>
			 <br>
			 <span ng-repeat="searchedPremises in vm.premiseSearchResults track by $index">
			 	{{$index}} - {{searchedPremises.claimStatement}}
			 	<a ng-click="vm.addPremiseToClaim($index)">Select Premise</a>
			 	<br>
			</span> -->
		</div>
	</div>
</body>
</html>