<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="theCreateEditArgumentDialog" class="dialog">
		<div class="dialog-content">
   			<div class="panel panel-primary panel-center dialog-panel">
				<div class="panel-heading">
     				<h3 ng-if="vm.argCreateEditMode == 'create'" class = "panel-title">Create Argument {{$index+1}} - {{vm.newArg.argName}}</h3>
     				<h3 ng-if="vm.argCreateEditMode == 'edit'" class = "panel-title">Edit Argument {{$index+1}} - {{vm.editArgDuplicate.argName}}</h3>
	   			</div>
	   			<div class="container" id="{{$index}}">
		   			<div class = "panel-body" >
						<p class="text-area-label">Argument Name</p>
						<textarea ng-if="vm.argCreateEditMode == 'create'" rows="1" cols="50"  type=text ng-model="vm.newArg.argName"></textarea>
						<textarea ng-if="vm.argCreateEditMode == 'edit'" rows="1" cols="50"  type=text ng-model="vm.editArgDuplicate.argName"></textarea>
						<br>
						<div ng-if="vm.argCreateEditMode == 'create'" ng-repeat="premise in vm.newArg.premises track by $index">
							Premise {{$index+1}}:<span class="glyphicon glyphicon-trash" ng-click="vm.removeUnsavedPremise($index)"></span><br>
							<textarea  ng-disabled="premise.claimId != null" rows="2" cols="75" type=text ng-model="premise.claimStatement"></textarea><br>
						</div>
						<div ng-if="vm.argCreateEditMode == 'edit'" ng-repeat="premise in vm.editArgDuplicate.premises track by $index">
							Premise {{$index+1}}:<br>
							<textarea  ng-disabled="premise.claimId != null" rows="2" cols="75" type=text ng-model="premise.claimStatement"></textarea><br>
						</div>
						<p>Conclusion: {{vm.claim.claimStatement}}</p>
						<br>
					</div>
				</div>
				<div>
		   			<p class="error-text" ng-repeat="message in  vm.errorMessages">{{message}}</p>
		   		</div>
				<div class="panel-footer">
					<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
						<div class="btn-group" role="group">
							<button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					     		Add Premise
					    	</button>
							<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
					      		<a ng-if="vm.argCreateEditMode == 'create'" class="dropdown-item" ng-click="vm.addToNewArgPremiseArray($index)">Add New Premise</a>
					      		<a ng-if="vm.argCreateEditMode == 'edit'" class="dropdown-item" ng-click="vm.addToCurrentArgPremiseArray($index)">Add New Premise</a>
					      		<a class="dropdown-item" ng-click="vm.openDialog('theAddPremiseDialog')">Add Pre-existing Premise</a>
					    	</div>
				    	</div>
						<button ng-click="vm.handleCreateEditArg()" class="flat-button">Save</button>
						<button ng-click="vm.closeDialog('theCreateEditArgumentDialog', false)" class="flat-button">Close</button>
					</div>
				</div>
			</div>
 		</div>
	</div>
</body>
</html>